@model Squish.DATA.EF.Models.SquishInformation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SquishInformation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Squishname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Squishname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquishSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquishSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquishColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquishColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SquishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
